Source: reiser4progs
Section: admin
Priority: optional
Maintainer: Felix Zielcke <fzielcke@z-51.de>
Build-Depends: debhelper (>= 10), libaal-dev (>= 1.0.7), libaal-dev (<< 1.0.8), uuid-dev, libreadline-dev
Standards-Version: 4.1.1
Homepage: https://reiser4.wiki.kernel.org

Package: reiser4progs
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: administration utilities for the Reiser4 filesystem
 The following utilities to manage Reiser4 filesystems are provided:
 .
   - debugfs.reiser4
   - fsck.reiser4
   - measurefs.reiser4
   - mkfs.reiser4

Package: reiser4progs-udeb
XC-Package-Type: udeb
Section: debian-installer
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: user-level tools to manage Reiser4 filesystems
 This installer module contains utilities to check, resize, and debug 
 Reiser4 filesystems. 

Package: mkreiser4-udeb
XC-Package-Type: udeb
Section: debian-installer
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: user-level tool to make Reiser4 filesystems
 This installer module contains the utility to create Reiser4 filesystems.

Package: libreiser4-dev
Section: libdevel
Priority: optional
Architecture: linux-any
Multi-Arch: same
Depends: ${misc:Depends}, libc6-dev | libc-dev, libaal-dev (>= 1.0.7), uuid-dev, libreadline-dev, libncurses5-dev
Description: Reiser4's filesystem access and manipulation library. Devel files
 These are the development files for Reiser4 libraries. 
 .
 They are part of the Reiser4's filesystem support tools.

